.inputwidth {
  width: 75%;
  margin-right: 10px;
  padding: 3px;
 }

 a {
  color: gray;
  text-decoration: none;
 }

 body {
  background-color: rgb(247, 242, 245);
 }

 .shadow-sm {
  background-color: white;
 }

 button {
  background-color: pink !important;
  border:rgb(198, 197, 197) !important;
  color: gray !important;
}